.navigation {
    position: fixed;
    top: 0;
    min-height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--section-background);
    padding: 0 14px;
    box-shadow: var(--default-box-shadow);
    z-index: 1000;
}

.nav-menu {
    position: fixed;
    top: 4rem;
    right: -100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--section-background);
    box-shadow: var(--default-box-shadow);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 999;
}

.nav-menu.active {
    right: 0;
}

.nav-logo {
    font-style: italic;
    font-weight: 600;
    font-size: 1.2rem;
}

.nav-item {
    font-weight: 600;
    list-style: none;
}

.nav-link {
    font-size: var(--font-size-sm);
    color: var(--font-primary);
    transition: 0.3s ease;
}

.nav-link:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.hamburger {
    display: block;
    cursor: pointer;
    z-index: 999;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 3px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}